<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Simple TODO</title>
</head>
<body>
   <div id="app">
      <Heading heading="Simple todo"/> </Heading>
   </div>
   
   <div id="app-7">
      <input type="text" v-model="newTodo">
      <button v-on:click="addTodo">Submit</button>
      <Todolist v-for="item in todo" v-bind:todo="item.text" v-bind:key="item.id" /></Todolist>
      <!-- Dynamically Load --> 
   </div>
 <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
 <script src="todo.js"></script>
</body>
</html>